@using Syncfusion.EJ2.Navigations

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP.NET Core MVC Example</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/28.2.12/fluent-dark.css" />
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/28.2.12/dist/ej2.min.js"></script>

    <!--JQuery scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <ejs-appbar id="defaultAppBar">
            <e-content-template>
                <span style="margin:0 5px">ASP.NET Core MVC Example</span>
                <div class="e-appbar-separator"></div>
                <ejs-menu id="defaultMenuHome" cssClass="e-inherit" items="@(new List<MenuItem>() { new MenuItem { Text = "Home", Url = "/Home" } })"></ejs-menu>
                <ejs-menu id="defaultMenuWorkOrders" cssClass="e-inherit" items="@(new List<MenuItem>(){ new MenuItem { Text = "Work Orders", Url = "/WorkOrder" } })"></ejs-menu>
            </e-content-template>
        </ejs-appbar>
    </header>
    <div class="container">
        <main class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
