@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center px-2 py-2">
    <h1>Hello!</h1>

    <p>
        This example project is a simplified CMMS software (computerized maintenance management system) which
        is used to manage work orders for equipment in a system. The example pregenerates work orders for a BHS 
        (baggage handling system) and it has a single page which allows the user to add/edit/delete work orders.
        The user can move the work order to the next status or set a specific one. When the status is set
        to Resolved, the user will be asked to optionally enter a problem and resolution.
    </p>

</div>
