@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center px-2 py-2">
    <h1>Hello!</h1>

    <p>
        This example project is a simplified work order management of equipment in a system and it would be
        part of a CMMS software (computerized maintenance management system). The example pregenerates work orders 
        for a BHS (baggage handling system) and it has a single page which allows the user to add/edit/delete work 
        orders. Work orders are divided into Inspection, Routine, Reactive and Other and each will have a status, open,
        in progress, resolved or closed. The user can move the work order to the next status or set a 
        specific one. When the status is set to Resolved, the user will be asked to optionally enter a problem and 
        resolution. The rows will be colored red or yellow to highlight if the work order is critically due or is
        close to being due. Critical is based on if the due by is today or past today. Warning is based on if today
        is at most 7 days out from the due by.
    </p>

</div>
